= render 'shared/header'

.main-show
  .title
    タイトル:
    = @share.title
  .video
    #text
    -# = @share.video

    = link_to @share.video_url.to_s do
      -# = image_tag(@share.video_url.to_s, id: "video")
      %span.fa.fa-play
    .home
      = link_to 'Home', shares_path, class: "EDITLink"
