.header
  .inner
    .icon
      .style-scope
        %i.fa.fa-cog
          ■
    .logo
      WeTube 
    .sarch
      %input#video-search-field.video-form__input{:placeholder => "検索", :type => "text"}/
    #user-search-result

    #user
      - if user_signed_in?
        .account
          = link_to 'マイページ', destroy_user_session_path
        .notice
          通知
        .app-menu
          アプリ
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
        .create
          = link_to '作成', new_share_path
      - else
        .login
          = link_to "ログイン", new_user_session_path