.header{
  height: 56px;
  width: 100%;
  
}
  .inner{
    height: 55px;
    width: 100%;
    }
    .icon{
      height: 20px;
      width: 40px;
      float: left;
      font-size: 20px;
    }
    
    .logo{
      height: 20px;
      width: 200px;
      float: left;
      font-size: 20px;
      .EDITLink{
        text-decoration: none;
        }
      }

    .sarch{
      float: left;
      width: 400px;
      height: 30px;
      }
      .video-form__input{
        width: 600px;
        height: 25px;
      }
 
    .create{
      height: 20px;
      width: 50px;
      float: right;
      font-size: 25px;
      }
    .app-menu{
      height: 20px;
      width: 50px;
      float: right;
      font-size: 25px;
      }
    .notice{
      height: 20px;
      width: 50px;
      float: right;
      font-size: 25px;
      }
    .account{
      height: 20px;
      width: 100px;
      float: right;
      font-size: 25px;
      }
    .login{
      height: 20px;
      width: 100px;
      float: right;
      .EDITLink{
      text-decoration: none;
      }
    
    }
    .logout{
      height: 20px;
      width: 100px;
      float: right;
      .EDITLink{
        text-decoration: none;
      }
    }