.main-show{
  padding-top: 50px;

}


.title{
  margin: 4px;
}

// .video{
// float: left;
// margin: 4px;
// }
.fa.fa-play{
  font-size: 30px;
  float: left;
}

.home{
// margin: 4px;
// float: left;
.EDITLink{
  text-decoration: none;
  }
}

